div#slider { 
    width: 100%;
    height: 40em;
    overflow: hidden; 
}

div#slider figure {
    position: relative; 
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
}

div#slider img {
    width: 100%;
}

div#slider figure a { 
    width: 20%; 
    height: auto; 
    float: left; 
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

.carousel-titre {
    position: absolute;
    top: 2em;
    width: 90vw;
    text-align: right;
    color: #DEDEDE;
    text-shadow: 2px 2px 2px #263238;
}